{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ project.title }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    {% include "accounts/navbar.html" %}

    <section class="profile-page">

        <div class="profile-card">

            <h1>
                🚀 {{ project.title }}
            </h1>

            <br>

            <h3>📖 Description</h3>

            <p>
                {{ project.description }}
            </p>

            <br>

            <h3>🛠 Required Skills</h3>

            <p>
                {{ project.skills_required }}
            </p>

            <br>

            <h3>👥 Team Size</h3>

            <p>
                {{ project.team_size }}
            </p>

            <br>

            <h3>📌 Status</h3>

            <p>
                {{ project.status }}
            </p>

            <br>

            <h3>📊 Progress</h3>

            <p>
                {{ project.progress }}%
            </p>

            <br>

            <h3>🔗 GitHub Repository</h3>

            <p>
                <a href="{{ project.github_link }}" target="_blank">
                    Open Repository
                </a>
            </p>

            <br>

            <h3>
                Project Owner
            </h3>

            <p>
                {{ project.owner.username }}
            </p>



            <br>

            <h3>
                👨‍💻 Team Members
            </h3>

            {% if members %}

            {% for member in members %}

            <p>
                {{ member.student.username }}
            </p>

            {% endfor %}

            {% else %}

            <p>
                No members joined yet
            </p>

            {% endif %}

            <h3>
                Created On
            </h3>

            <p>
                {{ project.created_at }}
            </p>

            <br>

            <a href="{% url 'projects' %}" class="join-btn">

                Back to Projects

            </a>

            {% if request.user == project.owner %}

            <br>

            <a href="#" class="nav-btn">

                Update Project

            </a>

            {% endif %}




        </div>

    </section>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>